<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>放大头部视图.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18E1B58A1E9CB5FE00E7AE5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E1B5A31E9CB5FE00E7AE5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E1B5AE1E9CB5FE00E7AE5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
